<h1 class="main">Welcome to Wikinimous!</h1>

<ul>
  <% @articles.each do |article| %>
    <li><h2><%= link_to article.title, article %></h2></li>
    <li><%= article.content %></li>
  <% end %>
</ul>

<div class="new-article">
<%= link_to 'New article', new_article_path %>
</div>
