// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  background-color: azure;
}

.main {
  padding-left: 300px;
}

.new-article {
  padding-left: 800px;
}

.links {
  padding-left: 800px;
}

.back {
  padding-left: 800px;
}
